# Programming for Data Analysis

### Analysing a data set on world population growth

In [1]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv (r"C:\Users\cusac\OneDrive\Desktop\world_population.csv")

In [10]:
print(df.shape)

(234, 16)

In [9]:
print(df.head(7))

   Rank         Country           Capital      Continent  2022 Population  \
0    36     Afghanistan             Kabul           Asia         41128771
1   138         Albania            Tirana         Europe          2842321
2    34         Algeria           Algiers         Africa         44903225
3   213  American Samoa         Pago Pago        Oceania            44273
4   203         Andorra  Andorra la Vella         Europe            79824
5    42          Angola            Luanda         Africa         35588987
6   224        Anguilla        The Valley  North America            15857

   2020 Population  2015 Population  2010 Population  2000 Population  \
0         38972230         33753499         28189672         19542982
1          2866849          2882481          2913399          3182021
2         43451666         39543154         35856344         30774621
3            46189            51368            54849            58230
4            77700            71746            71519            66097
5         33428485         28127721         23364185         16394062
6            15585            14525            13172            11047

   1990 Population  1980 Population  1970 Population  Area (km²)  \
0         10694796         12486631         10752971      652230
1          3295066          2941651          2324731       28748
2         25518074         18739378         13795915     2381741
3            47818            32886            27075         199
4            53569            35611            19860         468
5         11828638          8330047          6029700     1246700
6             8316             6560             6283          91

   Density (per km²)  Growth Rate  World Population Percentage
0            63.0587       1.0257                         0.52
1            98.8702       0.9957                         0.04
2            18.8531       1.0164                         0.56
3           222.4774       0.9831                         0.00
4           170.5641       1.0100                         0.00
5            28.5466       1.0315                         0.45
6           174.2527       1.0066                         0.00

In [ ]:
#get rid of extraneous columns so that I have population data at ten-year intervals (also, "Capital" column is not required)

In [14]:
df.drop(columns=["Capital","2022 Population","2015 Population"])

,Country,Continent,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,Asia,38972230,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,Europe,2866849,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,Africa,43451666,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,Oceania,46189,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,Europe,77700,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,Oceania,11655,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,Africa,556048,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,Asia,32284046,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,Africa,18927715,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,Africa,15669666,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [15]:
#checking for null values
df.isnull().sum()

Country                        0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64